<div class="row">
  <div class="col-md-6">
    <h2>《<%= @book.name %>》的章节</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @chapters.each_with_index do |chapter, index| %>
          <tr>
            <td>
              <%= link_to chapter.title, chapter %>
              <% if chapter.vip? %>
                <i class="material-icons nav-icon md-12 lock">lock</i>
              <% end %>
            </td>
            <% if can? :manage, chapter %>
              <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
              <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to '添加新章节', new_chapter_path %>
    
  </div>
  
  <div class="col-md-6"></div>
</div>
